<!DOCTYPE html>
<!-- Author's Name: Safer Marie Pattawi
Last Updated:Feb 18,2024
Description: This is the login page of p management -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P Management Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/p_management.css">
</head>

<body class="d-flex flex-row justify-content-center align-items-center index-body">
    <div class="container login_body">
        
        <div class="card login_card" >
            <div class="card-body login_card_body">

                <div class="login_logo_body">
                    <img src="/media/p_management_logo.png" class="login_logo">
                </div>

                <form action="/p_management_login" class="formlogin" method="post" >

                    <h1 class="login_h1">Login</h1>
                    
                    <h3 class="notification"> {{message}}</h3>
                    
                    <label for="email" class="form-label login_label"> Email</label>
                    <input  class="form-control login_input" type="email" id="email" name="email" required> 

                    <label for="password" class="form-label login_label"> Password</label>
                    <input class="form-control login_input" type="password" id="password" name="password" required>

                    <div class="login_btn_div">
                        <button class = "mt-3 btn login_btn" type="submit" ="submit_btn">Submit</button>
                        <button class = "mt-3 btn login_btn" id="submit_btn" type="reset">Cancel</button>
                    </div>
                
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>